# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Data (medical - DO NOT UPLOAD)
dataset/
*.nii
*.nii.gz
*.hdr
*.img
temp_upload*

# Models
saved_models/*.pth

# Frontend (React / Vite)
frontend/node_modules/
frontend/dist/
node_modules/

# OS
.DS_Store
Thumbs.db